* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #343434;
  color: white;
  font-family: "Nunito";
  width: 100%;
  overflow-x: hidden;
}

nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  width: 400px;
  display: flex;
  justify-content: space-around;
  margin-right: 50px;
  display: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;

  font-size: 21px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

.logo {
  margin-left: 50px;

  font-size: 33px;
}

.hamburger {
  margin-right: 50px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.side-nav {
  width: 100%;
  height: 100%;
  background: #343434;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1;

  display: flex;
  justify-content: center;
}

.slide-nav {
  position: relative;
  margin-top: 75px;
}

.slide-nav li {
  display: block;
  text-align: center;
  font-size: 34px;
  margin-top: 32px;
}

.slide-nav a {
  text-decoration: none;
  color: #fff;
}

@media screen and (min-width: 840px) {
  .hamburger {
    display: none;
  }

  nav ul {
    display: block;
  }
}
