.s1-cover {
  width: 100%;
  height: 400px;

  object-fit: cover;
}

.item-detail {
  margin-left: 25px;
}

.item-name {
  position: relative;
  width: 298px;
  bottom: 5px;

  font-weight: 600;
  font-size: 48px;

  color: #ffffff;
}

.section-btn {
  width: 137px;
  height: 41px;
  background: #f7f4d7;
  color: black;
  text-decoration: none;
  border-radius: 0.2em;
  font-weight: bold;
  display: grid;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 18px;

  margin-top: 55px;
}

.item-buttons {
  position: relative;
  bottom: 55px;
}

.section2 {
  margin-top: 20px;

  color: #000;
}

.white-section {
  background: #ffffff;
  height: 2138px;
  width: 101%;
}

.section-header {
  position: relative;
  top: 50px;

  display: flex;
  align-items: center;
}

.section-title {
  color: #000;
  width: 225px;
  font-size: 24px;

  margin-left: 10px;
}

.section-header h3 {
  color: #000;
}

.section-number {
  display: flex;
}

.section-number h3 {
  font-weight: 600;
  font-size: 24px;
  margin-left: 5px;

  color: #2a99bf;
}

.about-me {
  margin-top: 100px;
  margin-left: 41px;
}

.name {
  font-size: 24px;
}

.info {
  width: 295px;
  font-size: 16px;
  margin-top: 25px;

  color: #6a6a6a;
}

.section3 {
  margin-top: 60px;
}

.section3-modules {
  margin-top: 100px;

  color: #000;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.module {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.module-title {
  text-align: center;
  margin-top: 35px;

  font-weight: 600;
  font-size: 36px;

  color: #000000;
}

.module-par {
  text-align: center;
  margin-top: 15px;

  font-size: 14px;
  line-height: 35px;
  width: 300px;

  color: #6a6a6a;
}

.module {
  margin-top: 60px;
}

.phone-diagram {
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  margin-top: 45px;
}

.desktop-diagram {
  display: none;
}

.s5-container {
  width: 320px;
  height: 1650px;
  margin: 0 auto;

  background: #ffffff;
  border-radius: 20px;
  display: flex;

  flex-direction: column;
  align-items: center;
}

.logo-cont {
  display: flex;

  flex-direction: column;
  align-items: center;
}

.s5-logo {
  width: 150px;
  margin-top: 85px;
}

.s5-title {
  color: #000;
  font-size: 32px;
  margin-top: 30px;
}

.section7 {
  margin-top: 25px;
  height: 440px;
  border: 1px solid #413f3f;
}

.footer-title {
  width: 344px;
  height: 132px;
  font-weight: 600;
  font-size: 32px;

  text-align: center;
  margin: 0 auto;
  margin-top: 25px;
}

.footer-social {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 30px;
}
@media screen and (min-width: 840px) {
  .section7 {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1220px) {
  .section1 {
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;

    align-items: center;
  }

  .s1-cover {
    width: 100%;
    height: 620px;
    grid-column: 2 / span 1;

    object-fit: cover;
  }

  .item-detail {
    margin-left: 0px;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    height: 250px;
  }

  .item-name {
    position: relative;
    bottom: 115px;
    margin-top: 120px;
    width: 508px;
    font-size: 84px;
    margin-left: 50px;

    font-weight: 600;

    color: #ffffff;
  }

  .section-btn {
    width: 235px;
    height: 70px;
    background: #f7f4d7;
    color: black;
    text-decoration: none;
    border-radius: 0.2em;
    font-weight: bold;
    display: grid;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 27px;

    margin-top: 40px;
  }

  .item-buttons {
    position: relative;
    top: -135px;
    margin-left: 50px;
  }

  .section2 {
    width: 100%;

    background: #ffffff;
  }

  .white-section {
    background: #ffffff;
    height: 1638px;
    width: 101%;
  }

  .section-header {
    position: relative;

    display: flex;
    align-items: center;
  }

  .section-title {
    color: #000;
    width: 100%;
    font-size: 48px;
    margin-top: 100px;

    margin-left: 15px;
  }

  .section-header h3 {
    color: #000;
  }

  .section-number {
    display: flex;
    margin-top: 100px;
  }

  .section-number h3 {
    font-weight: 600;
    font-size: 48px;
    margin-left: 15px;

    color: #2a99bf;
  }

  .about-me {
    margin-top: 120px;
    margin-left: 51px;
  }

  .name {
    font-size: 36px;
  }

  .info {
    width: 495px;
    font-size: 24px;
    margin-top: 25px;

    color: #6a6a6a;
  }

  .section3 {
    margin-top: 100px;
  }

  .section3-modules {
    margin-top: 100px;

    color: #000;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .module {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .module-title {
    text-align: center;
    margin-top: 35px;

    font-weight: 600;
    font-size: 36px;

    color: #000000;
  }

  .module-par {
    text-align: center;
    margin-top: 15px;

    font-size: 14px;
    line-height: 35px;
    width: 300px;

    color: #6a6a6a;
  }

  .module-code {
    width: 206px;
    height: 206px;
  }

  .module-success {
    width: 206px;
    height: 206px;
  }

  .module {
    margin-top: 60px;
  }

  .module-icon {
    margin-bottom: 30px;
  }

  .phone-diagram {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    margin-top: 45px;
    display: none;
  }

  .desktop-diagram {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    margin-top: 45px;
    margin-bottom: 150px;
    display: block;
  }

  .s5-title {
    display: none;
  }

  .s5-container {
    width: 1170px;
    height: 600px;
    margin: 0 auto;
    margin-top: 200px;

    background: #ffffff;
    border-radius: 20px;
    display: grid;

    justify-items: center;
    align-items: center;
  }

  .s5-logo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-left: 85px;
    margin-top: 35px;
  }

  /* .django {
    width: 300px;
  } */

  .css {
    object-fit: none;
  }

  .s5-title {
    color: #000;
    font-size: 32px;
    margin-top: 30px;
  }

  .logo-cont {
    display: block;

    flex-direction: column;
    align-items: center;
  }

  .section7 {
    margin-top: 50px;
    height: 250px;
    border: 1px solid #413f3f;
  }

  .footer {
    display: flex;
    height: 250px;
    align-items: center;
  }

  .footer-title {
    width: 344px;
    height: 132px;
    font-weight: 600;
    font-size: 32px;

    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
  }

  .footer-social {
    width: 35%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 30px;
  }

  .linked,
  .youtube,
  .instagram {
    width: 66px;
    height: 75px;
  }
}
