{% extends 'base.htm' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block header %}
  <title>Bilal Uddin | About Me</title>
  <meta name="description"
    content="Look at my resume and see if you like it. It contains my skill set and past experience. Also contact info.">
  <meta name="author" content="Bilal Uddin">

  <link rel="stylesheet" href="{% static 'about/style.css' %}" />
  {% endblock %}
</head>
<body>
  {% block content %}
  <div class="container">
    <div class="section1">
      <img src="{% static 'about/imgs/cover.jpg' %}" alt="cover" class="s1-cover">

      <div class="item-detail">
        <h2 class="item-name">About Me</h2>

        <div class="item-buttons">
          <a href="https://www.linkedin.com/feed/" class="cta main-content section-btn" target="_blank">Profile</a>
          <!-- <a href="{{ resume.resume.url }}" class="cta main-content section-btn" download>Resume</a> -->
        </div>
      </div>
    </div>

    <div class="white-section">
      <div class="section2">
        <div class="section-header">
          <div class="section-number">
            <img src="{% static 'about/imgs/stroke.svg' %}" alt="stroke" class="section-stroke">

            <h3>01</h3>
          </div>

          <h2 class="section-title">Wanna Know More About Me?</h2>
        </div>

        <div class="about-me">
          <h2 class="name">Bilal Uddin</h2>

          <p class="info">Coding was a hobby for me when I started.  With consistency and passion, I turned this hobby into a true way of helping businesses like you.</p>
        </div>
      </div>

      <div class="section3">
        <div class="section-header">
          <div class="section-number">
            <img src="{% static 'about/imgs/stroke.svg' %}" alt="stroke" class="section-stroke">

            <h3>02</h3>
          </div>

          <h2 class="section-title">My Strengths</h2>
        </div>

        <div class="section3-modules">
          <div class="module">
            <img src="{% static 'about/imgs/design.svg' %}" alt="design" class="module-icon">

            <h3 class="module-title">Design</h3>
            <p class="module-par">Design is a big aspect of a website, it helps businesses gain clients. The goal is to have users stay on the website as long as possible and clearly show them what the business offers.</p>
          </div>

          <div class="module">
            <img src="{% static 'about/imgs/tech.svg' %}" alt="Code" class="module-icon module-code">

            <h3 class="module-title">Code</h3>
            <p class="module-par">The backend code helps the website owner (you) easily add content to the website without even writing a single line of code. This can save time and money for a business doing manual work.</p>
          </div>

          <div class="module">
            <img src="{% static 'about/imgs/success.svg' %}" alt="Success" class="module-icon module-success">

            <h3 class="module-title">Success</h3>
            <p class="module-par">The success of the website truly comes from communicating with the business. The more information the developer has, the more optimised the website can be made.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="section4">
      <img src="{% static 'about/imgs/mobile_dia.svg' %}" alt="diagram" class="phone-diagram">
      <img src="{% static 'about/imgs/desk_diagram.svg' %}" alt="diagram" class="desktop-diagram">
    </div>

    <div class="section5">
      <div class="s5-container">
        <h3 class="s5-title">My Skills</h3>
        <div class="logo-cont">
          <img src="{% static 'about/imgs/html.png' %}" alt="html" class="s5-logo">
          <img src="{% static 'about/imgs/css.png' %}" alt="css" class="s5-logo css">
          <img src="{% static 'about/imgs/js.png' %}" alt="js" class="s5-logo">
          <img src="{% static 'about/imgs/django_simple.png' %}" alt="django" class="s5-logo django">
          <img src="{% static 'about/imgs/davinci.png' %}" alt="davinci" class="s5-logo">
          <img src="{% static 'about/imgs/ps.png' %}" alt="ps" class="s5-logo">
        </div>
      </div>
    </div>

    <div class="section7">
      <footer>
        <div class="footer">
          <h3 class="footer-title">Bilal Uddin 2021
            Font-Awesome & FreePik</h3>

          <div class="footer-social">
            <a href="https://www.linkedin.com/feed/" target="__blank"><img src="{% static 'home/imgs/linkedin.svg' %}" alt="linkedin" class="linked"></a>
            
            <a href="https://www.youtube.com/channel/UC30e_OFzwKgXATYX3X9pBeA?view_as=subscriber" target="__blank"><img src="{% static 'home/imgs/youtube.svg' %}" alt="youtube" class="youtube"></a>

            <a href="https://www.instagram.com/tangoprotocol/?hl=en" target="__blank"><img src="{% static 'home/imgs/instagram.svg' %}" alt="instagram" class="instagram"></a>
          </div>
        </div>
      </footer>
    </div>
  </div>
  {% endblock %}
</body>
</html>