{% extends 'base.htm' %}
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block header %}
  <title>Bilal Uddin | Contact</title>
  <meta name="description"
    content="Welcome to my contact page where you can shoot a message to me by either using the contact form or contact number. I hope to be working with you soon!">
  <meta name="author" content="Bilal Uddin">
  
  <link rel="stylesheet" href="{% static 'contact/style.css' %}">
  {% endblock %}
</head>

<body>
  {% block content %}
  <div class="container">
    <div class="s1">
      <h2>Send Me A Message</h2>
      <p>Got a message or want to wanting a website built? If so send us a message</p>
    </div>

    <div class="s2">
      <form method="POST" id="form">
        {% csrf_token %}
        <div class="form">
          {{ contact|crispy }}

          <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
          <button>
            <p>Send</p>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
              y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
              <path id="paper-plane-icon" d="M462,54.955L355.371,437.187l-135.92-128.842L353.388,167l-179.53,124.074L50,260.973L462,54.955z
          M202.992,332.528v124.517l58.738-67.927L202.992,332.528z"></path>
            </svg>
          </button>
        </div>
      </form>
    </div>

    <div class="s3">
      <div class="location">
        <img src="{% static 'contact/imgs/location.svg' %}" alt="Location">
        <h3>England, West Yorkshire</h3>
      </div>

      <div class="email">
        <img src="{% static 'contact/imgs/email.svg' %}" alt="email">
        <h3>bilaluddin474@gmail.com</h3>
      </div>

      <div class="mobile">
        <img src="{% static 'contact/imgs/mobile.svg' %}" alt="mobile">
        <h3>+44 7577 738489</h3>
      </div>
    </div>
  </div>

  <div class="section7">
    <footer>
      <div class="footer">
        <h3 class="footer-title">Bilal Uddin 2021
          Font-Awesome & FreePik</h3>

        <div class="footer-social">
          <a href="https://www.linkedin.com/feed/" target="__blank"><img src="{% static 'home/imgs/linkedin.svg' %}" alt="linkedin" class="linked"></a>
          
          <a href="https://www.youtube.com/channel/UC30e_OFzwKgXATYX3X9pBeA?view_as=subscriber" target="__blank"><img src="{% static 'home/imgs/youtube.svg' %}" alt="youtube" class="youtube"></a>

          <a href="https://www.instagram.com/tangoprotocol/?hl=en" target="__blank"><img src="{% static 'home/imgs/instagram.svg' %}" alt="instagram" class="instagram"></a>
        </div>
      </div>
    </footer>
  </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{% static 'contact/app.js' %}"></script>
  {% endblock %}
</body>

</html>