{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block header %} {% endblock %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ADD BLOCK</title>
    <link rel="stylesheet" href="{% static 'base.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {% block content %} {% endblock %}
    <div class="base-container">
      <div class="navigation">
        <nav>
          <a href="{% url 'home' %}" class="logo-link"><h2 class="logo">Bilal Uddin</h2></a>

          <img
            src="{% static 'home/imgs/hamburger.svg' %}"
            alt="hamburger"
            class="hamburger"
          />

          <ul>
            <li><a href="{% url 'about' %}">About Me</a></li>
            <li><a href="{% url 'project' %}">Projects</a></li>
            <li><a href="">Contact</a></li>
          </ul>
        </nav>

        <div class="side-nav">
          <ul class="slide-nav">
            <li><a href="{% url 'about' %}">About Me</a></li>
            <li><a href="{% url 'project' %}">Projects</a></li>
            <li><a href="">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"
      integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ=="
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js"
      integrity="sha256-kRbW+SRRXPogeps8ZQcw2PooWEDPIjVQmN1ocWVQHRY="
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'base.js' %}"></script>
  </body>
</html>
