{% extends 'base.htm' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block header %}
  <title>Bilal Uddin | Projects</title>
  <meta name="description"
    content="Look at my latest web dev projects and ideas. They include the source code from github and the live server.">
  <meta name="author" content="Bilal Uddin">
  
  <link rel="stylesheet" href="{% static 'project/style.css' %}" />
  {% endblock %}
</head>
<body>
  {% block content %}
  <div class="container">
    {% for project in projects %}
    <div class="section1">
      <img src="{{ project.cover.url }}" alt="cover" class="s1-cover">

      <div class="item-detail">
        <h2 class="item-name">{{ project.title|title }}</h2>

        <div class="item-buttons">
          <a href="{{ project.site }}" class="cta main-content section-btn">Visit Site</a>
          <a href="{{ project.code }}" class="cta main-content section-btn">GitHub Code</a>
        </div>
      </div>
    </div>

    <div class="section2">
      <div class="item-credentials">
        <div class="item-role item-section">
          <h3 class="cred-title cred-top">Role</h3>
          <h3 class="cred-info">{{ project.role }}</h3>
        </div>
        <div class="item-date item-section">
          <h3 class="cred-title">Date</h3>
          <h3 class="cred-info">{{ project.date }}</h3>
        </div>
        <div class="item-overview item-section">
          <h3 class="cred-title">Overview</h3>
          <h3 class="cred-info">{{ project.overview }}</h3>
        </div>
      </div>

      <div class="item-devices">
        <img src="{{ project.mockup.url }}" alt="mockup" class="item-mockup">
      </div>
    </div>
    {% endfor %}
      <div class="section7">
        <footer>
          <div class="footer">
            <h3 class="footer-title">Bilal Uddin 2021
              Font-Awesome & FreePik</h3>

            <div class="footer-social">
              <a href="https://www.linkedin.com/feed/" target="__blank"><img src="{% static 'home/imgs/linkedin.svg' %}" alt="linkedin" class="linked"></a>
              
              <a href="https://www.youtube.com/channel/UC30e_OFzwKgXATYX3X9pBeA?view_as=subscriber" target="__blank"><img src="{% static 'home/imgs/youtube.svg' %}" alt="youtube" class="youtube"></a>

              <a href="https://www.instagram.com/tangoprotocol/?hl=en" target="__blank"><img src="{% static 'home/imgs/instagram.svg' %}" alt="instagram" class="instagram"></a>
            </div>
          </div>
        </footer>
      </div>
  </div>
  {% endblock %}
</body>
</html>